<div id="page-wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Mending: Tales of Triumph</h1>
		<p> Welcome to Mendingtown. I'm Rachael your tour guide. <br><br>I'm a recent college graduate with a background in startups trying to learn to code like my mom always said I should. This blog was built in Ruby on Rails and it still feels like magic every time I push to heroku. I talk about food, chronic illness, tech, business, and everything else that seems important at the time. Follow along! </p>
	</div>
</div>