<div id="header">
	<% if current_page?(root_path) %>
  		<p>All Posts</p>
  	<% elsif current_page?(about_path) %>
  		<p>About Me + About Mending </p>
  	<% elsif current_page?(post_path) %>
  		<%= link_to "All Posts", root_path %>
  	<% else %>
  		<%= link_to "Mending Me", root_path %>
  	<% end %>

  	<div class="buttons">
  		<%= link_to "New Post", new_post_path, class: "btn" %>
  		<%= link_to "Log Out", posts_path, class: "btn" %>
  	</div>
</div>