<div id="sidebar">
  	<div id="logo">
  	  	<%= link_to "Mending Me", root_path %>
  	</div>


	<ul>
	  	<li class="category">Website</li>
	  	<li><%= link_to "Blog", root_path%></li>
	  	<li><%= link_to "About Me", about_path %></li>
	</ul>

	<ul>
	  	<li class="category">Social</li>
	  	<li><a href="https://twitter.com/rachaelkorinek">Twitter</a></li>
	   	<li><a href="https://github.com/rachkor">Github</a></li>
	  	<li><a href="https://linkedin.com/in/rachkorinek/en">LinkedIn</a></li>
		<li><a href="mailto:rachael.korinek@gmail.com">Email</a></li>
	</ul>

	<% if !user_signed_in? %>
		<p class="sign_in">Admin</p>
	<% end %>
</div>